<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <servlet-class>controller.UserStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>controller.staff.CreateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>controller.staff.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>controller.staff.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>controller.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerAccountServlet</servlet-name>
        <servlet-class>controller.staff.ViewCustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDetailServlet</servlet-name>
        <servlet-class>controller.AppointmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientAppointmentListServlet</servlet-name>
        <servlet-class>controller.customer.PatientAppointmentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientEditBookingServlet</servlet-name>
        <servlet-class>controller.customer.PatientEditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientCreateBookingServlet</servlet-name>
        <servlet-class>controller.customer.PatientCreateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceServlet</servlet-name>
        <servlet-class>controller.staff.ListServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceServlet</servlet-name>
        <servlet-class>controller.staff.CreateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceServlet</servlet-name>
        <servlet-class>controller.staff.EditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationDropdownServlet</servlet-name>
        <servlet-class>controller.NotificationDropdownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <servlet-class>controller.MarkNotificationReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationUnreadCountServlet</servlet-name>
        <servlet-class>controller.NotificationUnreadCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShiftServlet</servlet-name>
        <servlet-class>controller.CreateShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShiftServlet</servlet-name>
        <servlet-class>controller.DeleteShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShiftServlet</servlet-name>
        <servlet-class>controller.EditShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShiftServlet</servlet-name>
        <servlet-class>controller.ViewShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShiftsServlet</servlet-name>
        <servlet-class>controller.ViewShiftsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.admin.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountStatusServlet</servlet-name>
        <servlet-class>controller.admin.ManageAccountStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardOverviewServlet</servlet-name>
        <servlet-class>controller.admin.DashboardOverviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternalUserListServlet</servlet-name>
        <servlet-class>controller.admin.InternalUserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentStatisticsServlet</servlet-name>
        <servlet-class>controller.admin.AppointmentStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceStatisticsServlet</servlet-name>
        <servlet-class>controller.admin.ServiceStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorScheduleServlet</servlet-name>
        <servlet-class>controller.doctor.DoctorScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.staff.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>controller.staff.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <url-pattern>/UserStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/EditBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerAccountServlet</servlet-name>
        <url-pattern>/ViewCustomerAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDetailServlet</servlet-name>
        <url-pattern>/AppointmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientAppointmentListServlet</servlet-name>
        <url-pattern>/PatientAppointmentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientEditBookingServlet</servlet-name>
        <url-pattern>/PatientEditBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientCreateBookingServlet</servlet-name>
        <url-pattern>/PatientCreateBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceServlet</servlet-name>
        <url-pattern>/ListServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceServlet</servlet-name>
        <url-pattern>/CreateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceServlet</servlet-name>
        <url-pattern>/EditServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationDropdownServlet</servlet-name>
        <url-pattern>/NotificationDropdownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <url-pattern>/MarkNotificationReadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationUnreadCountServlet</servlet-name>
        <url-pattern>/NotificationUnreadCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShiftServlet</servlet-name>
        <url-pattern>/CreateShiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShiftServlet</servlet-name>
        <url-pattern>/DeleteShiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShiftServlet</servlet-name>
        <url-pattern>/EditShiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShiftServlet</servlet-name>
        <url-pattern>/ViewShiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShiftsServlet</servlet-name>
        <url-pattern>/ViewShiftsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountStatusServlet</servlet-name>
        <url-pattern>/ManageAccountStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardOverviewServlet</servlet-name>
        <url-pattern>/DashboardOverviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternalUserListServlet</servlet-name>
        <url-pattern>/InternalUserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentStatisticsServlet</servlet-name>
        <url-pattern>/AppointmentStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceStatisticsServlet</servlet-name>
        <url-pattern>/ServiceStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorScheduleServlet</servlet-name>
        <url-pattern>/DoctorScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
</web-app>
